.field {
  width: 500px;
  height: 500px;
  border: solid 2px gray;
  float:left;
  box-shadow: 0 0 10px rgba(0,0,0,0.8);
}

.block {
  position: relative;
  width: 20px;
  height: 20px;
  float:left;
}

.snake {
  color: white;
  font-size: 10px;
  width: 18px;
  height: 18px;
  background-color: green;
  border-radius: 50%;
  border: 1px solid black;
  box-shadow: 0 0 20px rgba(0,0,0,0.8);
}

.prey {
  width: 18px;
  height: 18px;
  background-color: red;
  border: 1px solid black;
  box-shadow: 0 0 20px rgba(0,0,0,0.8);
}

.message {
  padding: 10px 10px 10px 10px;
  font-family: Arial;
  font-size: 30px;
  font-weight: bolder;
  float: left;
  margin-left: 10px;
  border: solid 2px gray;
  width: 140px;
  height: 40px;
  box-shadow: 0 0 10px rgba(0,0,0,0.8);
  text-shadow: 0 0 3px black;
}

